/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body*/
body{
  font-family: 'Roboto', sans-serif;
}
/*general*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*app*/
#app {
  height: 100vh;
}

.top-app {
  position: relative;
  height: 90px;
  background-color: #249687;
}

.bottom-app {
  height: calc(100% - 90px);
  background-color: #dcdbd2;
  background-image: linear-gradient(#dcdbd2, #d3dbda);
}

/*wrapper*/
.wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 630px;
  background-color: #e9eaea;
}
/*left-wrapper*/
.left-wrapper {
  width: 30%;
}
/*top-left-wrapper*/
.top-left-wrapper {
  height: 150px;
}
.user-name {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #eaeae9;
}
.image-user{
  float: left;
  width: 12%;
  margin-right: 5px;


}
img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.detalis{
  display: flex;
  justify-content: space-between;
  float: left;
  width: 88%;
}
.shortcut{
  display: flex;
  justify-content: space-around;
  width: 80px;
}
i{
  color: #B1B0B1;
  cursor: pointer;
}
.notifications {
  height: 50px;
  background-color: crimson;
}
.input {
  display: flex;
  height: calc(100% - 100px);
}
.left-input {
  width: 20%;
  border: 1px solid black;
}
.right-input {
  width: 80%;
}
/*bottom-left-wrapper*/
.bottom-left-wrapper {
  height: calc(100% - 150px);
  background-color: #f9f9f9;
}
.container-user {
  width: 97%;
  height: 100%;
  background-color: #f9f9f9;
  border-right: 1px solid #ebeaeb;
}
.user {
  display: flex;

  height: 70px;
}
.left-user {
  width: 30%;
  background-color: darkgoldenrod;
}
.right-user {
  width: 70%;
  background-color: darkseagreen;
}
.name {
  float: left;
  background-color: forestgreen;
}
.date {
  float: right;
  background-color: gainsboro;
}

/*right-wrapper*/
.right-wrapper {
  width: 70%;
}

.top-right-wrapper {
  height: 50px;
  background-color: #e9e9ea;
  border-left: 1px solid #dddddd;
}

.center-right-wrapper {
  background-color: #F9F9FA;
  height: calc(100% - 100px);
}
.chat {
  width: 98.8%;
  height: 100%;
  background-image: url(../img/mine.jpg);
}

.bottom-right-wrapper {
  height: 50px;
  background-color: #e9e9ea;
}
