<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
      integrity="sha512-u7ppO4TLg4v6EY8yQ6T6d66inT0daGyTodAi6ycbw9+/AU8KMLAF7Z7YGKPMRA96v7t+c7O1s6YCTGkok6p9ZA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!--APP-->
    <div id="app">
      <div class="top-app"></div>
      <div class="bottom-app"></div>
      <!--WRAPPER-->
      <div class="wrapper">
        <!--LEFT WRAPPER-->
        <div class="left-wrapper">
          <!--TOP LEFT WRAPPER-->
          <div class="top-left-wrapper">
            <div class="user-name clearfix">
              <div class="image-user">
                <img src="img/avatar_io.jpg" alt="" />
              </div>
              <div class="detalis">
                <div class="name-detalis">
                  <h6>
                    <strong> Nome Utente </strong>
                  </h6>
                </div>
                <div class="shortcut">
                  <i class="fas fa-circle-notch"></i>
                  <i class="fas fa-comment-alt"></i>
                  <i class="fas fa-ellipsis-v"></i>
                </div>
              </div>
            </div>
            <div class="notifications">
              <div class="left-notifications">
                <i class="fas fa-bell-slash"></i>
              </div>
              <div class="right-notifications">
                <h6>Ricevi notifiche di nuovi messaggi</h6>
                <p>Attiva notifiche desktop</p>
              </div>
            </div>
            <div class="input">
              <div class="left-input">
                <i class="fas fa-search"></i>
              </div>
              <div class="right-input">
                <input
                  placeholder="Cerca o inizia una nuova chat"
                  type="text"
                  name=""
                  id=""
                />
              </div>
            </div>
          </div>
          <!--/TOP LEFT WRAPPER-->

          <!--BOTTOM LEFT WRAPPER-->
          <div class="bottom-left-wrapper">
            <div class="container-user">
              <!--CONTACTS-->
              <div
                v-for="(contact,index) in contacts"
                @click="showMessages(index)"
                class="user"
              >
                <div class="left-user">
                  <img :src="`img/avatar${contact.avatar}.jpg`" alt="" />
                </div>
                <div class="right-user">
                  <div class="top-right-user clearfix">
                    <div class="name">
                      <h6>{{contact.name}}</h6>
                    </div>
                    <div class="date">
                      <p>10/01/2020 16:15:22</p>
                    </div>
                  </div>
                  <div class="bottom-right-user">
                    <p>Tutto fatto!..</p>
                  </div>
                </div>
              </div>
              <!--/CONTACTS-->
            </div>
          </div>
          <!--/BOTTOM LEFT WRAPPER-->
        </div>
        <!--/LEFT WRAPPER-->

        <!--RIGHT WRAPPER-->
        <div class="right-wrapper">
          <div class="top-right-wrapper">
            <div class="user-top-right-wrapper">
              <div class="img-user-top-right-wrapper">
                <img src="img/avatar_1.jpg" alt="" />
              </div>
              <div class="info-user-top-right-wrapper">
                <div class="name-user-top-right">
                  <h6>Michele</h6>
                </div>
                <div class="data-user-top-right">
                  <p>Ultimo accesso oggi alle 10/01/2020 16:15:22</p>
                </div>
              </div>
            </div>
            <div class="detalis-top-right-wrapper">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div class="center-right-wrapper">
            <div class="chat">
              
              <!--MESSAGEs-->
              <div v-if="activeContact >= 0" class="received-msg">
                <div
                  v-for="(message, index) in contacts[activeContact].messages"
                  :class="`${message.status}-message`"
                >
                  <div class="text-msg">
                    <h6>{{message.message}}</h6>
                  </div>
                  <div class="data-msg">
                    <p>{{message.dat}}</p>
                  </div>
                </div>
              </div>
              <!--/MESSAGEs-->

            </div>
          </div>
          <div class="bottom-right-wrapper">
            <div class="left-bottom-right-wrapper">
              <i class="far fa-smile"></i>
            </div>
            <div class="center-bottom-right-wrapper">
              <input placeholder="Scrivi un messaggio" type="text" />
            </div>
            <div class="right-bottom-right-wrapper">
              <i class="fas fa-microphone"></i>
            </div>
          </div>
        </div>
        <!--/RIGHT WRAPPER-->
      </div>
      <!--/WRAPPER-->
    </div>
    <!--/APP-->

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
